#footer-wrapper {
  padding-bottom: 20px;
  #footer-bar {
    height: 50px;
    @include gradient-horizontal($orange-dark,$orange);
    width: 100%;
    margin-bottom: 25px;
  }
  #footer-links {
    margin-bottom: 30px;
    li {
      float:left;
      margin-right: 15px;
    }
  }
}